<div class="container">
    <div class="jumotron text-center">
        <h1>Contact form for Konpe.</h1>
        <p>Please leave a message, we appreciate any feedback / questions you may have</p>
    </div>

    <br/><br/>

    <form>
        <div class="form-group">       
            {{#if responseMessage}}
            <div class="alert alert-success">{{responseMessage}}</div>
            {{/if}} 
                <label for="inputEmail">Email Address</label>
                {{input type="email" value=emailAddress class="form-control" id="inputEmail" placeholder="email" autofocus="autofocus"}}
            </div>
            <div class="form-group">
                <label for="inputComment">Comments</label>
                {{textarea class="form-control" value=inputComment id="inputComment" placeholder="Enter Comments Here" rows="7"}}
        </div>    
        <button class="btn btn-primary btn-lg" disabled={{unless isValid 'disabled'}} {{action 'sendComment'}}>Send</button>
    </form>
</div>
